@model IEnumerable<Pinecone.Models.Films>

@{
    ViewBag.Title = "Prikaz";
}

<div>
    @using (Html.BeginForm())
            {
        <p>
            @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naslov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Radnja)
        </th>
        <th>
            @Html.DisplayNameFor(model=> model.Ocjena)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Radnja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ocjena)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id})
            </td>
        </tr>
    }

</table>

